body {
   font-family: 'Open Sans', sans-serif;
   margin: 0;
   min-height: 100vh;
   position: relative;

}

.header h1{
   background-color: orange;
   margin: 0;
   font: xx-large;
   
}
.footer {
   padding: 15px;
   font-weight: bold;
   width: calc(100% - 30px);
}

.header {
   height: 72px;
   line-height: 72px;
}

.main {
   padding: 15px 15px 100px 15px;
}

.footer {
   position: absolute;
   bottom: 0;
   background-color: orange;
   color: rgb(143, 101, 101);
}

.footer p {
   height: 42px;
   font-size: medium;
   line-height: 42px;
   margin: 30;
}